@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');

/* Navbar CSS setup */

html{
	scroll-behavior: smooth;
}
body {
  margin:0;
  background:var(--secondary-color);
  font-family: 'Work Sans', sans-serif;
  font-weight:500;
  /*background-size: 30px 30px;
  background-position: 0 0, 15px 15px;
  */
}

.container{
	/*width=80%;*/
	margin:0 auto;
}

header{
	/*background: #0101DF;*/
	/*background: #55d6aa;*/
	background:var(--primary-color);
}

header::after{
	content: '';
	display: table;
	clear: both;
}


.logo{
	float: left;
	padding-top: 10px;
	padding-bottom: 10px 0;
	padding-left: 20px;
}

nav{
	float: right;
}

nav ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li{
	display: inline-block;
	margin-left: 70px;
	padding-top: 26px;
	padding-right: 40px;
	padding-bottom: 23px;
	position: relative;
}

nav a{
	color:var(--secondary-color);
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
	padding-top: 5px;
}

nav a:hover{
	color:var(--secondary-color);
}

nav a::before{
	content: '';
	display: block;
	height: 5px;
	background-color:var(--secondary-color);
	position: absolute; 
	top: 0;
	width: 0%;
	transition: all ease-in-out 300ms;
}

nav a:hover::before{
	width: 70%;
}

.boxed{
	width:225px;
	height:20px; 
	vertical-align: center;
	text-align: center;
	margin:0 auto;
	border: 1px var(--secondary-color);
	padding-top: 23px;
}

.boxed > a{
	text-transform: uppercase;
	text-decoration: none;
	color: var(--secondary-color);
}


/*Icon Period
Navbar white color #FFFF
Body black color #222*/

:root{
	--primary-color: #FFFF;
	--secondary-color: #222;
	--logo: "Images/logo.png";

}

.light-theme{
	--primary-color: #222;
	--secondary-color: #FFFF;
	--logo:"Images/weblogo.png";
}

#icon{
	width: 30px;
	cursor: pointer;
}

/*Welcome Container*/
.description{
	/*display: inline-block*/
	display: flex;
	margin-right: 150px;
	height: 100vh;
	z-index: 3;
	padding-top: 30px;
}


/*Welcome Image Container - #1*/
.center_1 {
  /*margin-left: 250px;*/
  margin-right: 20px;
  margin-top: 30px;
  margin-left: 250px;
  width: 50%;
}

.image-container{
	width: 350px;
	height: 510px;
	position: relative;
	color: var(--primary-color);
}

.image-container img{
	width: 90%;
	height: 100%;
	border-radius: 50px;
	margin-left: 10%;
}

.fade::after{
	content: "Disclaimer: This is me.";
	display: flex;
	color: white;
	width: 90%;
	height:100%;
	font-size: 40;
	justify-content: center;
	align-items: center;
	background: black;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.5s ease;
	border-radius: 50px;
	margin-left: 10%;
}

.fade:hover::after{
	opacity: 0.6;
}

/*Welcome Text Container - #2*/
.text-container{
	display: flex;
	flex-direction: column;
	margin-left: 200px; 
	font-size: 30;
	padding-top: 40px;
	color: var(--primary-color);
	width: 31%;
	text-align: justify;
	border: var(--primary-color);
}

.wrapper{
	border: var(--primary-color);
	background-color: var(--primary-color);
	color: var(--secondary-color);
	text-align: center;
	height: 45px;
	/*font-size: 17px;
	padding-top: 5px;
	padding-bottom: 5px;*/
}

.wrapper span:before{
	content: '';
	animation: animate infinite 5s;
}

@keyframes animate{
	0%{
		content: 'SWE';
		color: var(--secondary-color);
		font-size: 15;
	}
	50%{
		content: 'Cyber Security';
		color:var(--secondary-color);
		font-size: 15;
	}
	100%{
		content: 'Data Science';
		color:var(--secondary-color);
		font-size: 15;
	}
}

a {
   text-decoration: none;
}



.scroll-down{
	position: absolute;
	bottom: 5px;
	left: 49%;
	z-index: 20;
	margin-top: 90vh;
	transform: translateX(-90%);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.scroll-down:active{
	opacity: 0;
	animation: dissapear 1s infinite;
	color: red;
}

@keyframes dissapear{
	0%{
		opacity:0;
	}
	100%{
		opacity:0;
	}
}

.mouse{
	width: 20px;
	height: 50px;
	border: 2px solid white;
	border-radius: 20px;
	display: flex;
}


.mouse span{
	width: 9px;
	height: 9px;
	background-color: white;
	display: block;
	border-radius: 50%; 
	margin:auto;
	animation: movewheel 0.8s linear infinite;
}


.arrow span{
	display: block;
	width: 10px;
	height: 10px;
	border: 2px solid transparent;
	border-right-color: white;
	border-bottom-color: white;
	transform: rotate(45deg); 
	bottom: 0px;
	animation: movearrow 1s linear infinite;
}


@keyframes movewheel{
	0%{
		opacity: 0;
		transform: translateY(-1rem);
	}
	100%{
		opacity: 1;
		transform: translateY(+1rem);
	}
}

@keyframes movearrow{
	0%{
		opacity: 0;
	}
	0%{
		opacity: 0.25;
	}
	0%{
		opacity: 0.50;
	}
	100%{
		opacity: 1;
	}
}
